$background-color: #f3eae3;
$accent-color: #3d8168;

body {
    background: $background-color;
}

.component {
    background: white;
    display: grid;
    width: 375px;
    margin: 10vh auto 0 auto;
    border-radius: 10px;
    .hero-image > img {
        border-radius: 10px 10px 0 0;
        max-width: 100%;
    }
    .component-body {
        margin: 25px 30px 25px 30px;
        .component-sale {
            div{
                display: flex;
                align-items: center;
                .sale-price {
                color: $accent-color;
                text-align: left;
                }
                .price {
                    text-decoration: line-through;
                    margin-left: 25px;
                }
            }
            
            .add-button {
                grid-column: 1/3;
            }
        }
    }
}