@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
//font family
$Space-Mono: 'Space Mono', monospace;
//Primary colours
$Strong-Cyan: hsl(172, 67%, 45%);

//Neutral colours
$Very-Dark-Cyan: hsl(183, 100%, 15%);
$Dark-Grayish-Cyan: hsl(186, 14%, 43%);
$Grayish-Cyan: hsl(184, 14%, 56%);
$Light-Grayish-Cyan: hsl(185, 41%, 84%);
$Very-Light-Grayish-Cyan: hsl(189, 41%, 97%);
$White: hsl(0, 0%, 100%);