@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
body {
  background-color: #fffdfa;
  font-family: "Inter", sans-serif;
}

.container {
  margin: 1vh 3vw 0vh 3vw;
}

.container .nav-section {
  margin-bottom: 2em;
}

.container .nav-section img {
  width: 50px;
  margin-top: 24px;
}

.container .nav-section nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #fffdfa;
  width: 68%;
  z-index: 2;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.container .nav-section nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

.container .nav-section nav ul a {
  color: #00001a;
  padding: .6em 2em;
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2em;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .nav-section nav ul a:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: #f15e50;
}

.container .nav-section .open-nav {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.container .nav-section .ham-menu {
  z-index: 3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  float: right;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .nav-section .menu-btn_nav {
  width: 50px;
  height: 4px;
  background: #00001a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .nav-section .menu-btn_nav::before,
.container .nav-section .menu-btn_nav::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: #00001a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .nav-section .menu-btn_nav::before {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.container .nav-section .menu-btn_nav::after {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.container .nav-section .ham-menu.open .menu-btn_nav {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.container .nav-section .ham-menu.open .menu-btn_nav::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.container .nav-section .ham-menu.open .menu-btn_nav::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.container .main-section .container-overlay {
  z-index: 1;
  visibility: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.container .main-section .overlay-on {
  visibility: visible;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
}

.container .main-section .main-article {
  margin-bottom: 4em;
}

.container .main-section .main-article h1 {
  font-size: 3em;
  font-weight: 800;
  line-height: 100%;
  margin: .5em 0 .3em 0;
}

.container .main-section .main-article .article-info .article-para {
  font-size: 1.04em;
  line-height: 1.7em;
  color: #5d5f79;
  margin-bottom: 2em;
}

.container .main-section .main-article .article-info .article-read-more-button {
  color: #fffdfa;
  background-color: #f15e50;
  border: none;
  padding: 1.6em 4em 1.6em 4em;
  font-weight: 700;
  letter-spacing: .25em;
  font-size: 1em;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .main-section .main-article .article-info .article-read-more-button:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  background-color: #00001a;
  cursor: pointer;
}

.container .main-section .new-sidebar {
  background-color: #00001a;
  padding: 1em;
}

.container .main-section .new-sidebar h2 {
  color: #e9ab53;
  margin: .5em 0 1em 0;
  font-weight: 700;
  font-size: 2em;
}

.container .main-section .new-sidebar .new-article h4 {
  color: #fffdfa;
  font-size: 1.3em;
  margin: 1.8em 0 .2em 0;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .main-section .new-sidebar .new-article h4:hover {
  color: #e9ab53;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.container .main-section .new-sidebar .new-article p {
  color: #c5c6ce;
  font-size: 1em;
  line-height: 1.7em;
  margin-bottom: 1.5em;
  font-weight: 400;
}

.container .main-section .new-sidebar .article-bottom-div {
  border-bottom: 1px solid #5d5f79;
}

.container .main-section .numbered-stories {
  margin: 4em 0 4em 0;
  display: -ms-grid;
  display: grid;
  gap: 1.5em;
}

.container .main-section .numbered-stories .story {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 1.5em;
          column-gap: 1.5em;
  height: 140px;
  margin-bottom: 1em;
}

.container .main-section .numbered-stories .story picture {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.container .main-section .numbered-stories .story picture img {
  height: 140px;
}

.container .main-section .numbered-stories .story div {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.container .main-section .numbered-stories .story div h5 {
  margin: 0;
  font-size: 2em;
  color: #c5c6ce;
}

.container .main-section .numbered-stories .story div h6 {
  margin: .6em 0 0 0;
  font-size: 1.1em;
  color: #00001a;
  font-weight: 800;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.container .main-section .numbered-stories .story div h6:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
  color: #f15e50;
}

.container .main-section .numbered-stories .story div p {
  margin-top: .6em;
  color: #5d5f79;
  font-size: .9em;
  line-height: 1.6em;
}

@media (min-width: 1024px) {
  .container {
    margin: 4vh 8vw 0vh 8vw;
  }
  .container .nav-section {
    margin-bottom: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .nav-section img {
    width: 70px;
    height: 50px;
    margin: 0;
  }
  .container .nav-section nav {
    max-width: 60%;
    display: contents;
  }
  .container .nav-section nav ul {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .container .nav-section nav ul a {
    color: #00001a;
    padding: 0 0 0 1.6em;
    width: 100%;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.2em;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  .container .nav-section nav ul a:hover {
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    color: #f15e50;
  }
  .container .nav-section .ham-menu {
    display: none;
  }
  .container .main-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    gap: 2em;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .container .main-section .main-article {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container .main-section .main-article picture {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .container .main-section .new-sidebar {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .container .main-section .numbered-stories {
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=index.css.map */