//Font imports
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

//Font Family

$Inter : 'Inter', sans-serif;

//Primary Colours

$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

//Neutral Colours

$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);

body{
    background-color: $Off-white;
    font-family: $Inter;
}

.container-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;   
    transition: all 0.5s ease-in-out;
}

.overlay-on{
    z-index: 5;
    transition: all 0.5s ease-in-out;
    background: rgba(0, 0, 0, 0.5);
}

.container {
    margin: 1vh 3vw 0vh 3vw;

    .nav-section {
        img {
            width: 50px;
            margin-top: 24px;
        }

        nav {
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;
            background: $Off-white;
            width: 70%;
            z-index: 2;
            -webkit-transform: translateX(100%);
                    transform: translateX(100%);
            -webkit-transition: -webkit-transform 0.5s ease-in-out;
            transition: -webkit-transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out;
            transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
            margin-top: 8em;
          }
          
          nav ul a {
            color: $Very-dark-blue;
            padding: 1em 2em;
            display: block;
            width: 100%;
            text-decoration: none;
            font-weight: 700;
            font-size: 15px;
          }
          
          nav ul a:hover {
            background: #842df7;
          }
          
          .open-nav {
            -webkit-transform: translateX(0%);
                    transform: translateX(0%);
          }

        //mobile nav hamburger button code
        .ham-menu {
            z-index: 3;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            float: right;
            width: 80px;
            height: 80px;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
            // display: none; /*hides the hamburger button for the desktop and tablet version of the website*/
        }
          
        .menu-btn_nav {
        width: 50px;
        height: 4px;
        background: rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
        }
          
        
        .menu-btn_nav::before,
        .menu-btn_nav::after {
          content: "";
          position: absolute;
          width: 50px;
          height: 4px;
          background: rgb(0, 0, 0);
          transition: all 0.5s ease-in-out;
        }
        
        .menu-btn_nav::before {
          transform: translateY(-9px);
        }
        
        .menu-btn_nav::after {
          transform: translateY(9px);
        }
        
        //hamburger button animation
        .ham-menu.open .menu-btn_nav {
          transform: translateX(-50px);
          background: transparent;
        }
        
        .ham-menu.open .menu-btn_nav::before {
          transform: rotate(45deg) translate(35px, -35px);
        }
        
        .ham-menu.open .menu-btn_nav::after {
          transform: rotate(-45deg) translate(35px, 35px);
        }
    }
}

