@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
body {
  background-color: #fffdfa;
  font-family: "Inter", sans-serif;
}

.container-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.overlay-on {
  z-index: 5;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  margin: 1vh 3vw 0vh 3vw;
}

.container .nav-section img {
  width: 50px;
  margin-top: 24px;
}

.container .nav-section nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #fffdfa;
  width: 70%;
  z-index: 2;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.container .nav-section nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

.container .nav-section nav ul a {
  color: #00001a;
  padding: .6em 2em;
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}

.container .nav-section nav ul a:hover {
  background: #842df7;
}

.container .nav-section .open-nav {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

.container .nav-section .ham-menu {
  z-index: 3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  float: right;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .nav-section .menu-btn_nav {
  width: 50px;
  height: 4px;
  background: #00001a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .nav-section .menu-btn_nav::before,
.container .nav-section .menu-btn_nav::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: #00001a;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .nav-section .menu-btn_nav::before {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
}

.container .nav-section .menu-btn_nav::after {
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

.container .nav-section .ham-menu.open .menu-btn_nav {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
}

.container .nav-section .ham-menu.open .menu-btn_nav::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.container .nav-section .ham-menu.open .menu-btn_nav::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}
/*# sourceMappingURL=index.css.map */